* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
form {
  margin-top: 20px;
  padding: 20px;
  box-shadow: 0px 4px 8px 0px rgba(0, 0, 0, 0.2);
  border-radius: 5px;
}
h1 {
  font-weight: 500;
  font-size: 30px;
  margin-bottom: 20px;
}
.form-wrapper {
  width: 40%;
}
.form-wrapper label {
  font-weight: 600;
  width: 50vh;
}
.card-wrapper {
  display: flex;
  flex-direction: row;
  gap: 100px;
  margin-top: 50px;
  padding: 10px;
}
.card {
  box-shadow: 0px 4px 8px 0px rgba(0, 0, 0, 0.2);
  border-radius: 4px;
}
.card-wrapper img {
  width: 100%;
}
.card-text {
  font-weight: 400;
}
.btn-wrapper {
  margin-top: 10px;
  display: flex;
  justify-content: space-around;
}
